header {
    background-color: white;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.logo img {
    width: 50px;
    height: auto;
}

.headtitle {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    padding: 15px;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

nav ul li a:hover {
    color: black;
}

.What {
    position: relative;
    margin-top: 83px;
    left: -7px;
    transform: translateY(10%);
    color: black;
    font-size: 15px;
    width: 99%;
}

.Source {
    position: relative;
    margin-top: -9px;
    left: -7px;
    transform: translateY(10%);
    color: black;
    font-size: 15px;
    width: 99%;
}